{% extends 'base.html.twig' %}

{% block title %}Feed{% endblock %}

{% block body %}
	<h1>Excluded words from frequent words</h1>
	{% for excludedWord in feeds.excluded %}
      {{ excludedWord }},
	{% endfor %}
	<h1>Most frequent words in feed</h1>
    <table class="table">
      <thead>
	      <th>Word</th>
	      <th>Count</th>
      </thead>
      <tbody>
	      {% for word, count in feeds.words %}
	      	<tr>
		      	<td>{{ word }}</td>
		      	<td>{{ count }}</td>
	        </tr>
	      {% endfor %}
      </tbody>
    </table>
	<h1>Feed</h1>
    <table class="table">
      <thead>
	      <th>Title</th>
	      <th>Author</th>
	      <th>Summary</th>
	      <th>Updated</th>
	      <th>Action</th>
      </thead>
      <tbody>
	      {% for entry in feeds.feed %}
	      	<tr>
		      	<td>{{ entry.title|raw }}</td>
		      	<td>{{ entry.author }}</td>
		      	<td>{{ entry.summary|raw }}</td>
		      	<td>{{ entry.updated }}</td>
		      	<td><a target="_blank" href="{{ entry.link }}">Read more </a></td>
	        </tr>
	      {% endfor %}
      </tbody>
    </table>
{% endblock %}